{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load form_tags %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center align-items-center">
        <!-- Left Image -->
    <div class="col-md-7 p-0">
          <div class="shadow-lg rounded-5 overflow-hidden mx-auto" style="max-width: 600px; border: 14px solid #07435C;">
    
      {% if login_image and login_image.image %}
        <img src="{{ login_image.image.url }}" alt="{{ login_image.alt_text }}" class="img-fluid login_image h-100 w-10" >
      {% else %}
        <img src="{% static 'core/images/default-login.jpg' %}" alt="Login" class="img-fluid h-100 w-100" style="object-fit: cover;">
      {% endif %}
    </div>
</div>

        <!-- Form -->
        <div class="col-md-5">
            <div class=" p-4">
                <h2 class="mb-3 text-center">Forgot Your Password?</h2>
                <p>Enter your email address and we’ll send you a link to reset your password.</p>
                <form method="post">
                    {% csrf_token %}
                    {{ form.email.label_tag }}
                    {{ form.email|add_class:"form-control mb-3 bg-input text-white" }}
                    <button type="submit" class="btn text-white mt-5" style="background-color: #07435C; border-radius: 20px; width: 100%;">Send Reset Link</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
