{% extends 'base.html' %}
{% load widget_tweaks %}
{% load form_tags %}
{% load static %}
{% block content %}
<div class="container my-5">
    <div class="row justify-content-center align-items-center">
         <!-- Left Image -->
    <div class="col-md-7 p-0">
          <div class="shadow-lg rounded-5 overflow-hidden mx-auto" style="max-width: 600px; border: 14px solid #07435C;">
    
      {% if login_image and login_image.image %}
        <img src="{{ login_image.image.url }}" alt="{{ login_image.alt_text }}" class="img-fluid login_image h-100 w-10" >
      {% else %}
        <img src="{% static 'core/images/default-login.jpg' %}" alt="Login" class="img-fluid h-100 w-100" style="object-fit: cover;">
      {% endif %}
    </div>
</div>

        <!-- Form -->
        <div class="col-md-5">
            <div class="p-4">
                <h2 class="mb-4 text-center">Set a New Password</h2>
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="mb-3">
                            {{ field.label_tag }}
                            {{ field|add_class:"form-control bg-input text-white" }}
                            {% for error in field.errors %}
                                <div class="text-danger">{{ error }}</div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn w-100 text-white fw-bold" style="background-color: #07435C; border-radius: 20px;">Reset Password</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
